@using Musician.Entity.Concrete;
@model List<Enstrument>
<div class="d-flex justify-content-end me-4 mt-4 pb-5 ">
    <a asp-area="Admin" asp-controller="Home" asp-action="CreateEnstrument" class="btn  btn-primary">Yeni Enstrüman Oluştur</a>
</div>
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row  ">
            <div class="col-lg-12 mb-4 order-0">
                <div class="card">
                    <h5 class="card-header"></h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table mb-5">
                            <thead>
                                <tr>
                                    <th>Enstruman Id</th>
                                    <th>Enstruman Adı</th>
                                    <th>Enstruman Url</th>
                                    <th>Onay Durumu</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (var enstrument in Model)
                                {

                                    <tr class="table-default">
                                        <td><i class="fab fa-sketch fa-lg text-warning me-3"></i> <strong>@enstrument.Id</strong></td>
                                        <td><span class="badge bg-label-primary me-1">@enstrument.Name</span></td>
                                        <td>
                                            <span class="badge bg-label-primary me-1">@enstrument.Url</span>
                                        </td>
                                        <form asp-asp-area="Admin" asp-asp-controller="Home" asp-action="UpdateIsApproved" asp-route-id="@enstrument.Id" class="form-check" id="form-isapproved-@enstrument.Id">
                                        <td class="ps-5"><span class="badge ps-4 me-1 form-check form-switch "><input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" asp-for="@enstrument.IsApproved" onchange="document.getElementById('form-isapproved-@enstrument.Id').submit();"></span></td>
                                       </form> 
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Edit" asp-route-id="@enstrument.Id"><i class="bx bx-edit-alt me-1"></i> Düzenle</a>
                                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Delete" asp-route-id="@enstrument.Id"><i class="bx bx-trash me-1"></i> Sil</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>


                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ Contextual Classes -->
