@using Musician.Entity.Concrete.Identity;
@model List<User>

    <div class="d-flex justify-content-end me-4 mt-4 pb-5 ">
        <a asp-area="Admin" asp-controller="Account" asp-action="CreateUser"  class="btn  btn-primary">Yeni Kayıt Oluştur</a>
    </div>
    
<div class="content-wrapper ">
    <div class="container-xxl flex-grow-1 container-p-y">
        <p class="text-dark" > * Koyu renkli satırlardaki kullanıcılar silinmiş kullanıcılardır!</p>
    <div class="row  ">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <h5 class="card-header"></h5>
                <div class="table-responsive text-nowrap">
                        <table class="table mb-5">
                        <thead>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Rol Adı</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0 ">
                            @foreach (var user in Model)
                            {

                                <tr  class="@(user.IsApproved==true ? "table-default bg-transparent" : "table-default bg-secondary")">
                                        <td><i class="fab fa-sketch fa-lg text-warning me-3"></i> <strong>@user.UserName</strong></td>
                                        <td><span class="badge bg-label-primary me-1">@user.FirstName</span></td>
                                    <td>
                                            <span class="badge bg-label-primary me-1">@user.LastName</span>
                                    </td>
                                        <td><span class="badge bg-label-primary me-1">@user.RoleId</span></td>
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="Edit" asp-route-id="@user.UserName" ><i class="bx bx-edit-alt me-1"></i> Düzenle</a>
                                                    @if (user.IsApproved == true)
                                                    {
                                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="Delete" asp-route-id="@user.UserName"><i class="bx bx-trash me-1"></i> Sil</a>
                                                    }
                                            </div>
                                        </div>
                                    </td>
                                </tr>


                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>