@using Musician.Entity.Concrete;
@model List<Request>
<style>
    .form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
        background-color: red !important;
        border-color: red !important;
        box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
    }

   td button,td a {
        border: none;
        width: 150px;
        overflow: hidden; /* uzunluktan taşanları gizle */
        white-space: nowrap; /* yazıyı alt satır indirme */
        text-overflow: ellipsis; /* css yazının sonuna üç nokta koymak üç nokta koyacak */
    }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />
<link rel="stylesheet" href="~/admin/assets/vendor/fonts/boxicons.css" />
<link rel="stylesheet" href="~/admin/assets/vendor/css/core.css" class="template-customizer-core-css" />
<link rel="stylesheet" href="~/admin/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
<link rel="stylesheet" href="~/admin/assets/css/demo.css" />
<link rel="stylesheet" href="~/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
<script src="~/admin/assets/vendor/js/helpers.js"></script>
<script src="~/admin/assets/js/config.js"></script>

<div class="content-wrapper" style="background-color:#fff1f1!important">


    <div class="container flex-grow-1 container-p-y " style="background-color:#fff1f1!important">

        <div class="row" style="background-color:#fff1f1!important">
            <div class="col-md-12" style="background-color:#fff1f1!important">
                <div class="card mb-4">
                    <div class="card-body mt-5 pb-0">
                        <ul class="nav nav-pills flex-column flex-md-row mb-3">
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Account" asp-action="Manage" asp-route-id="@User.Identity.Name"><i class="bx bx-user me-1"></i> Profilim</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Account" asp-action="MyStudentRequests"><i class="bx bx-link-alt me-1"></i> Ders Taleplerim</a>
                            </li>
                        </ul>
                        <table class="table mb-5 pb-5">
                            <thead>
                                <tr>
                                    <th>Öğretmen Adı</th>
                                    <th>Enstrüman Adı</th>
                                    <th>Ücret</th>
                                    <th>Mesaj</th>
                                    <th>Talep Tarihi</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            @if (Model.Count == 0)
                            {
                                <tbody class="table-border-bottom-0 ">

                                    <tr class="text-center mt-5 pt-5">
                                    </tr>
                                    <p class="text-danger fw-normal fs-5 text-center">Henüz ders talebin yok, hemen öğretmen seç ve çalmaya başla!</p>
                                </tbody>
                            }
                            else
                            {
                                <tbody class="table-border-bottom-0">
                                    @foreach (var request in Model)
                                    {
                                        <div class="modal fade" id="exampleModal1_@request.Id" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModal1Label">Musician</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @request.Card.TeacherPhone
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
                                        <tr class="table-default">
                                            <td><span class="badge bg-label-primary me-1 w-100">@request.Card.FirstName</span></td>
                                            <td>
                                                <span class="badge bg-label-primary me-1">@request.Card.EnstrumentName</span>
                                            </td>
                                            <td><span class="badge bg-label-primary me-1">@request.Price</span></td>
                                            <td>
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal_@request.Id" class="badge bg-label-primary me-1 ">@request.Message</button>
                                                <div class="modal fade" id="exampleModal_@request.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Musician</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                @request.Message
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><span class="badge bg-label-primary me-1">@request.OrderDate</span></td>
                                            <td><span class="badge bg-label-primary me-1">@request.OrderState</span></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        @if (request.OrderState == EnumOrderState.Approved)
                                                        {
                                                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal1_@request.Id">
                                                                <i class="bx  me-1"></i> Öğretmen iletişim numarasını göster
                                                            </button>
                                                           
                                                            

                                                        }
                                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="CancelRequest" asp-route-id="@request.Id"><i class="bx bx-trash me-1"></i> İptal Et</a>



                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-backdrop fade"></div>

<script src="~/admin/assets/vendor/libs/jquery/jquery.js"></script>
<script src="~/admin/assets/vendor/libs/popper/popper.js"></script>
<script src="~/admin/assets/vendor/js/bootstrap.js"></script>
<script src="~/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/admin/assets/vendor/js/menu.js"></script>
<script src="~/admin/assets/js/main.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

