<div class="row">
    @foreach (var card in Model)
    {
        <link rel="stylesheet" href="~/css/card.css" />
        <div class="col-lg-4 mb-5  px-5 ">
             <a asp-area="" asp-controller="Home" asp-action="CardDetails" asp-route-id="@card.Id">
        <div class="container containe ">
                    <div class="discount">
                        @card.FirstName
                    </div>
            <div class="display__product">
                    <img src="~/images/@card.Image.Url" >
            </div>
            <div class="product__details">
                <div class="title__section">
                    <div class="title">
                        <p>@card.EnstrumentName</p>
                    </div>
                    <span>
                        <i class="fi-sr-star"></i>
                        <p>@card.City</p>
                    </span>
                </div>
                    <div class="product__colors">
                        <p>@card.Description</p>
                    </div>
                        <div class="product__colors">
                            <p>@card.OwnDescription</p>
                        </div>
                
                <div class="product__add ">
                            <span class="price">@($"{card.Price:C0}")</span>
                    <button>Görüntüle</button>
                </div>
            </div>
        </div>
            </a>
        </div>
    }
</div>




















@* <div class="col-lg-4 ml-5 px-0 "style="border:solid 1px grey;border-radius:10px">
            <a asp-area="" asp-controller="Home" asp-action="CardDetails" asp-route-id="@card.Id">
                <div class="">
                    <div class="single_special_cource text-center">
                        <img src="~/images/@card.Image.Url" class="special_img " alt="">
                        <div class="special_cource_text">
                            <span style="color:black;font-weight:bolder;font-size:17px">@card.FirstName</span>
                            <h4 class="pr-4 mr-5" style="color:black">@($"{card.Price:C0}")</h4>
                            <span >
                                <h3 style="color:black;">@card.EnstrumentName</h3>
                            </span>
                            <p style="font-weight:600; color:black">@card.Description</p>
                            <p style="font-weight:600; color:black">@card.OwnDescription</p>
                        </div>

                    </div>
                </div>
            </a>
        </div>*@